# -------------------------
# Python
# -------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# Byte-compiled / optimized / DLL files
*.so

# -------------------------
# Virtual environment (uv venv)
# -------------------------
.venv/

# uv lockfile (генерируется автоматически)
uv.lock

# -------------------------
# Environment variables
# -------------------------
.env
.env.*

# -------------------------
# IDE / Editor
# -------------------------
.vscode/
.idea/
*.swp

# -------------------------
# Logs
# -------------------------
*.log

# -------------------------
# Migrations (если будешь использовать Alembic)
# -------------------------
alembic/versions/*.pyc
alembic/versions/__pycache__/

# -------------------------
# Cache
# -------------------------
.cache/
